{% extends "layout.html" %}
{% block content %}


<div class="row"> 
  <legend style="color: white;font-size: 2.5rem;" class="border-bottom mb-4">About</legend>
  <div class="col-md-9">
    <p style="color: silver;font-size: 1.3rem;"><b style="font-size: 1.5rem">Food4All</b> is an online platform that acts as a virtual marketplace for Vendors & Consumers. It is a virtual environment that enables proper Re-distribution of Excess Food that is usually disposed off each day, to deserving hands based on Charity.
    </p>     <br><br><br>
  </div>
</div>

<div class="row"> 
  <div class="col-md-7">
  	<legend style="color: white;font-size: 1.5rem;" class="border-bottom mb-4">Disclaimer</legend>
    <p style="color: silver;font-size: 1.3rem;"><b style="font-size: 1.5rem">Food4All</b> is not an officially licenced application. This is a part of the final year project of the Engineering students of Govt. Model Engineering College, Ernakulam. Names of existing hotels and orphanages are used only for ease of understanding. 
    </p>     <br><br><br> 
  </div>
</div>

<div class="row"> 
  <div class="col-md-7">
  	<legend style="color: white;font-size: 1.5rem;" class="border-bottom mb-4">Credits</legend>
    <article style="color:#001931; " class="media content-section">
        <div class="col-sm-5">
     
      	<b>Amna Sanil<br></b>
      	<b>Amrita E Girish<br></b>
      	<b>Dhyan Nandan<br></b>
      	<b>Sebastian T Sebastian<br></b>
    
        </div>
        <div class="col-sm-7">
        	<b style=" font-size: 4rem">ECB2020<br></b>
        </div>
     
    </article>








  </div>
</div>

{% endblock content %}

