{% extends "layout.html" %}
{% block content %}
<div class="row">  
  <div class="col-md-6">
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <h3><p class="text-secondary">&nbsp;&nbsp;{{ user.usertype }}</p></h3>
        </div>
      </div>

           
            <fieldset class="content-group">
                <legend class="border-bottom mb-4">Account Info</legend>
     
                <div class="content-group">
                  <b>Location : </b>{{user.location}}
                </div>
                <div class="content-group">
                  <b>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</b>{{user.email}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
{% if user.id==current_user.id %}
<a href="{{ url_for('account')}}"><button type="button" class="btn btn-dark" >Update Account </button></a>
{% endif %}
                </div>
            </fieldset>
    </div>
            <a href="javascript:history.back()"><button type="button" class="btn btn-outline-warning" >Go Back </button></a>
  </div>
</div>

{% endblock content %}